/* add css module styles here (optional) */

.TezIDProofs {
  display: flex;
  flex-wrap: wrap;
}
.TezIDProofItemWrapper {
  padding-right: 5px;
}
.TezIDProofItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ff834f;
  border-radius: 5px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.TezIDProofImage {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
